# Climate Data Analysis
## P L M W T P Jayasinghe
## BIT Index Number - E2340511

Time Series Data Analysis on Climate data from 1983 to 2008

### Importing Required Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime,timedelta
from statsmodels.tsa.seasonal import seasonal_decompose
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Importing data set

In [5]:
df = pd.read_csv('climate_change.csv')

In [6]:
df.head()

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

In [7]:
df.dtypes

Year          int64
Month         int64
MEI         float64
CO2         float64
CH4         float64
N2O         float64
CFC-11      float64
CFC-12      float64
TSI         float64
Aerosols    float64
Temp        float64
dtype: object

In [9]:
df.shape

(308, 11)

In [12]:
df.isnull().sum()

Year        0
Month       0
MEI         0
CO2         0
CH4         0
N2O         0
CFC-11      0
CFC-12      0
TSI         0
Aerosols    0
Temp        0
dtype: int64

### Creating Year Month Object

In [15]:
df['YearMonth']=df['Year'].astype(str)+'-'+df['Month'].astype(str)

In [18]:
df.isnull().sum()
df.dtypes

Year           int64
Month          int64
MEI          float64
CO2          float64
CH4          float64
N2O          float64
CFC-11       float64
CFC-12       float64
TSI          float64
Aerosols     float64
Temp         float64
YearMonth     object
dtype: object

### Dropping Year and Month Column and Reorgernizing the data set

In [ ]:
df_Cleaned=df.drop(columns=['Year','Month'])
# shift column 'Name' to first position 
first_column = df_Cleaned.pop('YearMonth')
# Now insert it to the first position
df_Cleaned.insert(0,'YearMonth',first_column)
df_Cleaned.dtypes

YearMonth     object
MEI          float64
CO2          float64
CH4          float64
N2O          float64
CFC-11       float64
CFC-12       float64
TSI          float64
Aerosols     float64
Temp         float64
dtype: object

In [ ]:
df_Cleaned['YearMonth']=pd.to_datetime(df_Cleaned['YearMonth'])
df_Cleaned.set_index('YearMonth',inplace=True)
df_Cleaned.index

DatetimeIndex(['1983-05-01', '1983-06-01', '1983-07-01', '1983-08-01',
               '1983-09-01', '1983-10-01', '1983-11-01', '1983-12-01',
               '1984-01-01', '1984-02-01',
               ...
               '2008-03-01', '2008-04-01', '2008-05-01', '2008-06-01',
               '2008-07-01', '2008-08-01', '2008-09-01', '2008-10-01',
               '2008-11-01', '2008-12-01'],
              dtype='datetime64[ns]', name='YearMonth', length=308, freq=None)

In [39]:
df_Cleaned.head

<bound method NDFrame.head of               MEI     CO2      CH4      N2O   CFC-11   CFC-12        TSI  \
YearMonth
1983-05-01  2.556  345.96  1638.59  303.677  191.324  350.113  1366.1024
1983-06-01  2.167  345.52  1633.71  303.746  192.057  351.848  1366.1208
1983-07-01  1.741  344.15  1633.22  303.795  192.818  353.725  1366.2850
1983-08-01  1.130  342.25  1631.35  303.839  193.602  355.633  1366.4202
1983-09-01  0.428  340.17  1648.40  303.901  194.392  357.465  1366.2335
...           ...     ...      ...      ...      ...      ...        ...
2008-08-01 -0.266  384.15  1779.88  321.405  244.200  535.072  1365.6570
2008-09-01 -0.643  383.09  1795.08  321.529  244.083  535.048  1365.6647
2008-10-01 -0.780  382.99  1814.18  321.796  244.080  534.927  1365.6759
2008-11-01 -0.621  384.13  1812.37  322.013  244.225  534.906  1365.7065
2008-12-01 -0.666  385.56  1812.88  322.182  244.204  535.005  1365.6926

            Aerosols   Temp
YearMonth
1983-05-01    0.0863  0.109
1983-06-01    0.0794  0.118
1983-07-01    0.0731  0.137
1983-08-01    0.0673  0.176
1983-09-01    0.0619  0.149
...              ...    ...
2008-08-01    0.0036  0.407
2008-09-01    0.0043  0.378
2008-10-01    0.0046  0.440
2008-11-01    0.0048  0.394
2008-12-01    0.0046  0.330

[308 rows x 9 columns]>